<div id="<%= dom_id image_set %>">

  <p>
    <strong>Typ:</strong>
    <%= image_set.typ %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= image_set.color %>
  </p>

  <p>
    <strong>Map:</strong>
    <%= image_set.map.title %>
  </p>

</div>
