<h1>Editing image set</h1>

<%= render "form", image_set: @image_set %>

<br>

<div>
  <%= button_to 'Back', image_set_path, method: :get, class: 'btn btn-secondary', id: 'backButton' %>
  <%= button_to "Delete", @image_set, method: :delete %>
</div>
