<h1>Editing image set</h1>

<%= render "form", image_set: @image_set %>

<br>

<div>
  <%= link_to "Show this image set", @image_set %> |
  <%= link_to "Back to image sets", image_sets_path %>
</div>
